# EditorConfig is awesome: https://editorconfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2

# 4 space indentation for Python
[*.py]
indent_style = space
indent_size = 4

# Windows end of line for Powershell
[*.ps1]
end_of_line = crlf
